<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">List - Reorder</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggle()">
        Toogle
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-reorder-group [disabled]="reorderView"
  
                      (ionItemReorder)="doReorder($event)">
      <ion-item *ngFor="let heroe of personajes">
        <ion-label>{{heroe}}</ion-label>
          <ion-reorder slot="end" > <ion-icon name="pizza"></ion-icon></ion-reorder>
      </ion-item>
    </ion-reorder-group>
    
  </ion-list>

</ion-content>
