<app-header titulo="alert"></app-header>

<ion-content class="ion-padding" fullscreen>
    <ion-button (click)="onClick()" expand="block">
        Alert
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block" >
        presentAlertMultipleButtons
    </ion-button>

    <ion-button (click)="presentAlertConfirm()" expand="block" >
        presentAlertConfirm
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block" >
        presentAlertPrompt
    </ion-button>

    <ion-button (click)="presentAlertRadio()" expand="block">
        presentAlertRadio
    </ion-button>

    <ion-button (click)="presentAlertCheckbox()" expand="block">
        presentAlertCheckbox
    </ion-button>
</ion-content>
